

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

:root{
  --text: 'Overpass';
  --back-color: #1B1C1F;;
  --text-color: #F6F7F9;
}
*{
  background-color: var(--back-color);
  color: var(--text-color);
  width: 100%;
}
h1{
  font-family: var(--text);
  text-align: center;
}
.entrada{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Panel{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: flex-end;
  width: 70%; 
}
